* {
    font-size: large;
}

.container {
    height: 100vh;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    background-color: lightgreen;
    height: 60vh;
    width: 40vw;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    /* border: 2px solid black; */
    height: 80%;
    width: 80%;
}

.blinking-dots {
    animation: blinking 0.8s linear 0s infinite;
}

.final{
    padding-top: 20%;
}

@keyframes blinking {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media(max-width:700px){
    .box{
        width:90vw;
        height: 90vh;
    }
}